
{{ bbs_template('common/header') }}

<div id="pt" class="bm cl">
    <div class="z">
        <a href="./" class="nvhm">{{ _G['setting']['bbname'] }}</a> <em>&rsaquo;</em>
        <a href="home.php?mod=spacecp">设置</a> <em>&rsaquo;</em>
        {{ app_pm.title }}
    </div>
</div>

<div id="ct" class="ct2_a wp cl">

    <div class="mn">
        <div class="bm bw0">
            <h1 class="mt"> {{ app_pm.title }} </h1>

            {% if app_pm.actionhelpers|length > 1 %}
            {% block pm_action_helpers %}
                <ul class="tb cl">
                    {% for action in app_pm.actionhelpers %}
                        <li {% if action.isCurrentAction() %}class="a"{% endif %}><a href="{{ app_pm.getDispatchUrl(action) }}">{{ action.config.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endblock %}
            <div class="tdats">
                {{  block('content')  }}
            </div>
            {% else %}
                {{  block('content')  }}
            {% endif %}
        </div>
    </div>

    <div class="appl">
        {{ bbs_template('home/spacecp_footer') }}
    </div>
</div>

{{ bbs_template('common/footer') }}




