
{{ bbs_template('common/header') }}


{% block pm_action_helpers %}
    <h3>{{ sf_bbs_pm.title }}</h3>
    <ul>
        {% for action in sf_bbs_pm.actionhelpers %}
            <li {% if action.isCurrentAction() %}class="current"{% endif %}><a href="{{ sf_bbs_pm.getDispatchUrl(action) }}">{{ action.config.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

<div >
    {% block content  %}

    {% endblock %}
</div>

{{ bbs_template('common/footer') }}

